.button {
  display: block;
  color: var(--c-white);
background-color: var(--c-bgc-contrast);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
