.form-group {
  border: none;
  padding: 24px 20px;
}

.form-group__emotions {
  display: flex;
  flex-direction: column;
  margin: 0 0 56px 0;
}

.form-group__title {
  margin: 0 0 20px 0;
}

.form-group__comment {
  background-color: var(--c-bgc-form);
  width: 100%;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  resize: none;
}
