:root {
  --main-font: "PT Sans", arial, sans-serif;
  --c-black: #000000;
  --c-white: #ffffff;
  --c-text: #333333;
  --c-bold-text: var(--black);
  --c-current-text: #766357;
  --c-bgc: var(--black);
  --c-bgc-contrast: #81b3d2;
  --c-bgc-advantage: #eeeeee;
  --c-bgc-form: #f2f2f2;
  --c-line: #E5E5E5;
  --nav-drop-shadow: rgba(1, 1, 1, 0.2);
  --nav-inner-shadow: rgba(255, 255, 255, 0.2);
  --bgc-rep: no-repeat;
  --bgc-pos: center;
  --bgc-size: auto;
  --border: 1px solid var(--c-line);
}
